## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
country1 = ['Taiwan', 'Algeria', 'Japan', 'Netherlands', 'Turkey', 'Finland', 'Czech', 'Slovakia', 'Maldives', 'Uruguay']
country2 = [np.random.randint(5000,500000) for _ in range(10)]
data = {'國家': country1,
        '人口': country2}
data = pd.DataFrame(data)
data

            國家      人口
0       Taiwan  484331
1      Algeria  417689
2        Japan  434672
3  Netherlands  353639
4       Turkey  227255
5      Finland   74256
6        Czech  194602
7     Slovakia   30593
8     Maldives  283345
9      Uruguay  316559

In [3]:
data.set_index('國家', inplace=True)
data

                 人口
國家
Taiwan       484331
Algeria      417689
Japan        434672
Netherlands  353639
Turkey       227255
Finland       74256
Czech        194602
Slovakia      30593
Maldives     283345
Uruguay      316559

In [4]:
data.idxmax(axis = 0)

人口    Taiwan
dtype: object